<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<%- include('header') -%>
<body>
    <h1>LOGIN SUCCESSFUL</h1> 
    <%if(uid !== undefined){%>
        <h1>Welcome <%=uid%></h1>
    <%}%>
    <%if(name !== undefined){%>
        <h1><%=name%></h1>
    <%}%>
    
</body>