.part1{
    /* background-image :url(/src/background.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: larger;
    background-image: linear-gradient(rgb(125, 125, 238), rgb(138, 224, 253),rgb(210, 234, 241),white);
    
}
.services{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: rgb(32, 99, 167);
}
.card-img-top{
    height: 160px;
    width: 100%;
}
.navbar{
    background-color: transparent;
    position: fixed;
    top: 0 !important;
    width: 100%;
    z-index: 999;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    color: white;
    
}
.image {
    width: 25px;
    height: 25px;
}
.imagebig {
    width: 35px;
    height: 35px;
}

.navbar-nav li a{
    padding: 3px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-rendering: auto;
    font-size: 100%;
    font-weight: 100%;
    
}

.navbar-nav li a:hover{
    border-bottom: 1px solid white;
}
.logo{
    width:30px;
    height:30px;
}
.contact{
    padding-left: 25%;
    padding-right: 25%;
    background-image: linear-gradient( rgb(138, 224, 253), rgb(138, 224, 253),rgb(210, 234, 241),white);
}
footer{
    background-color: rgb(32, 99, 167);
    color: white;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:400,500,700);
.banner3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  max-height: 800px;
}

.banner3 .banner {
  position: relative;
  max-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  display: table;
}

.banner3 h1,
.banner3 h2,
.banner3 h3,
.banner3 h4,
.banner3 h5,
.banner3 h6 {
  color: #3e4555;
}

.banner3 .font-weight-medium {
  font-weight: 500;
}

.banner3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.banner3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  border: 0px;
}

.banner3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.banner3 .btn-danger-gradiant.active,
.banner3 .btn-danger-gradiant:active,
.banner3 .btn-danger-gradiant:focus {
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  opacity: 1;
}


.banner3 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.banner3 .form-row {
  margin: 0;
}

.banner3 label.font-12 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.banner3 .form-control {
  color: #8d97ad;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.banner3 .date label {
  cursor: pointer;
  margin: 0;
}

@media (max-width: 370px) {
  .banner3 .left,
  .banner3 .right {
    padding: 25px;
  }
}

@media (max-width: 320px) {
  .banner3 .left,
  .banner3 .right {
    padding: 25px 15px;
  }
}

.banner3 .font-14 {
  font-size: 14px;
}

.banner3 .text-inverse {
  color: #3e4555 !important;
}

.schedulebtn{
  background-image: linear-gradient( rgb(138, 224, 253), rgb(138, 224, 253),rgb(210, 234, 241),white);
}